
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    @await Component.InvokeAsync("_DashboardWidgetsComponentPartial")

    @await Component.InvokeAsync("_DashboardMainChartComponentPartial")

    @await Component.InvokeAsync("_DashboardEmployeeTaskComponentPartial")

    @await Component.InvokeAsync("_DashboardGroupReservationComponentPartial")

    @await Html.PartialAsync("~/Views/GroupReservation/_ReservationDetailModal.cshtml")

    <div class="row">
            @await Component.InvokeAsync("_DashboardTodaysMenuComponentPartial")
    </div>
</section>

<!-- JS Libraies -->
<script src="/otika-bootstrap-admin-template/assets/bundles/apexcharts/apexcharts.min.js"></script>
<!-- Page Specific JS File -->
<script src="/otika-bootstrap-admin-template/assets/js/page/index.js"></script>

@section Scripts {
    <script>
        $(document).on('click', '.btn-reservation-detail', function() {
            var reservationId = $(this).data('id');
            openReservationDetailModal(reservationId);
        });
    </script>
}