@model List<ResultSpecialEventDto>

@{
    ViewData["Title"] = "SpecialEventList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 1;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Etkinlikler</h4>
                    </div>
                    <div class="card-body">
                        <a href="/SpecialEvent/Create" class="btn btn-success float-right">Ekle</a>
                        <br />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Açıklama</th>
                                    <th scope="col">Fiyatı</th>
                                    <th scope="col">Statüsü</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>@item.Price</td>
                                        <td>
                                            @if (item.Status)
                                            {
                                                <span class="badge badge-success">Aktif</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-secondary">Pasif</span>
                                            }
                                        </td>
                                        <td><a href="/SpecialEvent/Delete/@item.Id" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/SpecialEvent/Update/@item.Id" class="btn btn-info">Güncelle</a></td>
                                        <td><a href="/SpecialEvent/Detail/@item.Id" class="btn btn-success">Detay</a></td>
                                    </tr>
                                    count++;
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
