@model GetByIdSpecialEventDto

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Etkinlik Güncelleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Etkinlik Adı</label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <textarea class="form-control" rows="5" asp-for="Description"></textarea>
                            <br />
                            <label>Fiyat</label>
                            <input type="text" asp-for="Price" class="form-control" />                            
                            <br />
                            <label>Resim link</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />
                            <label>Durum</label>
                            <div>
                                <input type="radio" asp-for="Status" value="true" /> Aktif
                            </div>
                            <div>
                                <input type="radio" asp-for="Status" value="false" /> Pasif
                            </div>
                            <button class="btn btn-primary">Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

