@model CreateProductDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Ürün Ekleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Ürün Adı</label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <br />
                            <label>Ürün Fiyatı</label>
                            <input type="text" asp-for="Price" class="form-control" />
                            <br />
                            <label>Ürün Kategorisi</label>
                            <select asp-for="CategoryId" class="form-control" asp-items="Model.Categories">
                                <option value="">--Kategori Seçiniz--</option>
                            </select>
                            <br />
                            <label>Ürün Görseli</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />
                            <label>Ürün Açıklaması</label>
                            <textarea class="form-control" asp-for="Description" rows="5"></textarea>
                            <br />
                            <button class="btn btn-primary">Oluştur</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
